body {
    margin: 0;
    padding: 0;
}


#navbar {
    height: 100px;
    width: 100%;
}

#nav1 {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #0f1111;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    width: 130px;
    height: 60px;
    /* background-image: url('pngwing.com.png'); */
}

#nav2 {
    position: absolute;
    transform: translateY(64px);
    height: 40px;
    width: 100%;
    background-color: #232f3e;
}

.imgage {
    mix-blend-mode: difference;
}

.nav-left {
    width: 335px;
    display: flex;
}

.nav-location {
    width: 192px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-locatioin-text {
    color: white;
}

.nav-text {
    font-size: 0.85rem;
}

.location-item {
    color: white;
    margin-top: 1rem;
}

#nav-mid {
    width: 790px;
    height: 40px;

}

.search-input input {
    height: 38px;
    border: 0;
    width: 670px;

}

#search-bar {
    height: 40px;
    display: flex;
    align-items: center;
}

.select-item {
    height: 40px;
    display: flex;
    width: 50px;
}

.search-filter select {
    width: 50px;
    height: 40px;
    text-align: center;
    background-color: #e6e6e6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: transparent;
}

.search-logo {
    width: 45px;
    height: 40px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: transparent;
    background-color: #febd69;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.width {
    width: 135px;
    height: 50px;
}

#nav-signin {
    color: white;
    cursor: pointer;
}

.nav-item:hover {
    border: 2px solid white
}

.nav-right {
    display: flex;
    width: 390px;
    justify-content: space-evenly;
    padding-top: 1%;

}

.navOrders {
    color: white;
    cursor: pointer;
}

.nav-cart {
    color: white;
}

.fontSize {
    font-size: 39px;
}

#nav2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#nav2-menu {
    width: 60px;
    cursor: pointer;
    justify-content: space-evenly;
}

.text {
    color: white;
}

.height {
    height: 35px;
}

.display {
    display: flex;
    align-items: center;
}

#nav2-mid {
    justify-content: space-evenly;
    width: 90%;
}

#nav2-mid1 {
    width: 65px;
    justify-content: space-evenly;
}

#nav2-mid2 {
    justify-content: center;
    width: 120px;
}

#nav2-mid3 {
    width: 42px;
    justify-content: center;
}

#nav2-mid4 {
    width: 95px;
    justify-content: center;
}

#nav2-mid5 {
    width: 105px;
    justify-content: center;
}

#nav2-mid6 {
    width: 70px;
    justify-content: center;
}

#nav2-mid7 {
    width: 70px;
    justify-content: space-evenly;
}

#nav2-mid8 {
    width: 130px;
    justify-content: center;
}

#nav2-mid9 {
    width: 90px;
    justify-content: center;
}

#nav2-mid10 {
    width: 70px;
    justify-content: center;
}
#nav2-mid11{
    width: 110px;
    justify-content: center;
}
header{
    height: 105px;
}
main{
    background-color: #e6e6e6;
    padding-top: 17%;
    /* height: 100vh; */
}
#section1{
    display: flex;
    justify-content: space-evenly;
}
#sectionCard{
    height: 420px;
    width: 350px;
    border:transparent;
    border-radius: 5px;
    background-color: white;
    padding-top: 1%;
}
#cardTitle{
    height: 25px;
    padding: 0 20px;
    font-size: x-large;
    margin-bottom: 10px ;
}
#card-Card{
    height: 300px;
    padding: 0 9px 0 9px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

#innerCard{
    height: 150px;
    width: 150px;
    cursor: pointer;
    /* margin: 5px; */
    padding: 8px;
    /* border: black 1px solid; */
}
#cardbutton{
    padding: 0 20px;
    font-size:medium ;
}


#section2{
    display: flex;
    flex-wrap: wrap;
}

/* .card{
    margin-left: 2%;
} */

#scroll-item{
    height: 370px;
    width: 96.75%;
    border: none;
    margin: 20px 0 20px 25px;
    background-color: white;
}
#scroll-title{
    font-size: 2rem;
    font-weight: 600;
    margin: 1% 0 0 1%;
}

#scroll-cards{
    height: 300px;
    width: 240px;
    margin-left: 1%;
    border:none;
}
#items{
    display: flex;
    overflow: auto;
}
#items::-webkit-scrollbar{height: 10px;}
#items::-webkit-scrollbar-track{background-color: #f1f1f1;}
#items::-webkit-scrollbar-thumb{background-color: #888;}
#items::-webkit-scrollbar-thumb:hover{background-color: #000000;}


li{list-style: none;}

li:hover{cursor: pointer;}

ul{margin:0; padding-left: 5px;}


#prodct-discount{
    display: flex;
    color:#CC0C39 ;
    font-size: large;
    font-weight: 600;
    /* justify-content: space-evenly; */
}
.discount1{
    width: 55px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.7rem;
    margin-right: 5px;
    background-color: #CC0C39;
}
.pice2{
    color: #007185;
    font-size: small;
    margin-left: 8px;
}
#product-title{
    font-size: small;
}

#section3{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;

}
.section3Card3{
    height: 300px;
    width: 340px;
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
    cursor: pointer;
}

#section4{
    overflow: auto;

}
footer{
    margin-top: 0%;
    height: 710px;
}
#backTop{
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37475A;
}
#footer1{
    height: 430px;
    background-color: #232F3E;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer2{
    height: 230px;
    background-color: #131A22;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contactLink{
    height: 290px;
    margin: 44px 0 0 0;
    width: 1000px;
    color: white;
    display: flex;
    justify-content: space-between;
}
#contactItems{
    width: 110px;
    height: 280px;
    padding: 0 10px 0 10px;
}
#contactTitle{
    width: 109px;
    margin: 5px 0 10px 0;
    font-size: larger;
    font-weight: 700;
}

#contactItems ul li{
    margin-top: 10px;
    color: white;
}

#contactItems ul li:hover{
    text-decoration: underline;
}

#footerLoGo{
    height: 85px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    border-top: 1px solid #3a4553;
}

#footer2 a{color: white; margin-right:1rem;}

#footer2 a:hover{text-decoration: underline;}